.item {
    height: 100px;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.count {
    color: red;
}